def connect():
    import network

    ap_if = network.WLAN(network.AP_IF)
    ap_if.active(False)

    ssid = "yourNetworkName"
    password =  "yourNetworkPassword"
 
    station = network.WLAN(network.STA_IF)
 
    if station.isconnected() == True:
        print("Already connected")
        return
 
    station.active(True)
    station.connect(ssid, password)
 
    while station.isconnected() == False:
        pass
 
    print("Connection successful")
    print(station.ifconfig())
